<div class="row">
    <div class="col-md-12" style="min-height:540px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">注册信息填写</h3>
            </div>
            <div class="panel-body">
                <p>
                    请填写实名信息，方便我们与您联系.
                </p>
                <hr>
                <form style="padding-left: 5px" id="registerForm">
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="userName" class="col-sm-4 control-label"><span style="color:red">*</span>姓名:</label>
                                <div class="col-sm-8">
                                    <input id="userName" name="userName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="sfzh" class="col-sm-4 control-label"><span style="color:red">*</span>身份证号:</label>
                                <div class="col-sm-8">
                                    <input id="sfzh" name="sfzh" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="cjzh" class="col-sm-4 control-label">残疾证号:</label>
                                <div class="col-sm-8">
                                    <input id="cjzh" name="cjzh" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label"><span style="color:red">*</span>联系电话:</label>
                                <div class="col-sm-8">
                                    <input id="phone" name="phone" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="password" class="col-sm-4 control-label"><span style="color:red">*</span>密码:</label>
                                <div class="col-sm-8">
                                    <input id="password" name="password" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="RPassword" class="col-sm-4 control-label"><span style="color:red">*</span>密码确认:</label>
                                <div class="col-sm-8">
                                    <input id="RPassword" name="RPassword" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="email" class="col-sm-4 control-label">邮箱:</label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" type="text" class="form-control" width="50%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <div class="form-group">
                                <label for="address" class="col-sm-4 control-label">联系住址:</label>
                                <div class="col-sm-8">
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-horizontal" style="text-align: center">
                            <button class="btn btn-primary">注册</button>
                            <button class="btn btn-primary">重置</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>