<form id="awardInfoFormId">
            <div class="row">

                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="dictAwardCode" class="col-sm-3 control-label"><span style="color:red">*</span>奖项信息:</label>
                        <div class="col-sm-8">
                           <input  id="dictAwardCode" name="dictAwardCode" type="text" class="form-control" cs-input="inputAwards.initConfig" ng-model="artistInfo.tempAward.dictAwardCode" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="honoraryTitl" class="col-sm-3 control-label">奖项/称号:</label>
                        <div class="col-sm-8">
                            <input id="honoraryTitl" name="honoraryTitl" type="text" class="form-control" ng-model="artistInfo.tempAward.honoraryTitl">
                        </div>
                    </div>
                </div>
                 <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="awardYear" class="col-sm-3 control-label">获奖年度:</label>
                        <div class="col-sm-8">
                            <input id="awardYear" name="awardYear" type="text" class="form-control" ng-model="artistInfo.tempAward.awardYear">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="timeNumber" class="col-sm-3 control-label">届次:</label>
                        <div class="col-sm-8">
                            <input id="timeNumber" name="timeNumber" type="text" class="form-control" ng-model="artistInfo.tempAward.timeNumber">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="sponsor" class="col-sm-3 control-label">主办单位:</label>
                        <div class="col-sm-8">
                            <input id="sponsor" name="sponsor" type="text" class="form-control" ng-model="artistInfo.tempAward.sponsor">
                         </div>
                    </div>
                </div>
               <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="awardAddress" class="col-sm-3 control-label">地点:</label>
                        <div class="col-sm-8">
                            <input id="awardAddress" name="awardAddress" type="text" class="form-control" ng-model="artistInfo.tempAward.awardAddress">
                        </div>
                    </div>
                </div>
               <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label for="remark" class="col-sm-3 control-label">备注:</label>
                        <div class="col-sm-8">
                            <input id="remark" name="remark" type="text" class="form-control" ng-model="artistInfo.tempAward.remark">
                        </div>
                    </div>
                </div>
</div>
</form>