<div class="row">
    <div class="col-md-12" style="min-height:540px">
        <div class="widget-box transparent" style="opacity: 1; z-index: 0;">
            <div class="widget-header">
                <h4 class="widget-title lighter">信访介绍</h4>
            </div>

            <div class="widget-body">
                <div style="text-indent: 28pt; line-height: 30pt"><span style="">
<div style="text-indent: 32.25pt; line-height: 29pt"><span style="">“阳光信访”是市信访局立足“以人为本、信访为民”理念，综合运用现代电子信息科技手段，全面整合电话、短信、网络、视频等电子资源，为全市人民精心打造的集投诉、查询、服务于一体的信访服务新平台。欢迎广大群众通过以下方式提出信访事项：</span>
</div>
<div style="text-indent: 32pt; line-height: 29pt"><span style="">1</span><span style="">、网上信访投诉:请登录淮安阳光信访网（http://www.hasygxf.com）点击“网上投诉”，进入“网上信访”平台，根据提示进行信访投诉。</span>
</div>
<div style="line-height: 29pt" align="left"><span style="; color: black">2</span><span
        style="color: black">、短信信访投诉：江苏省内手机（移动、联通、电信）用户请直接编写“投诉内容”短信发送至“10639063”。</span></div>
<div style="text-indent: 32pt; line-height: 29pt" align="left"><span style="; color: black">3</span><span
        style=" color: black">、电话信访投诉。请在工作日工作时间（上午8:30—11:45，下午14:00—17:30）拨打83996966进行投诉。</span></div>
<div style="text-indent: 32pt; line-height: 29pt" align="left"><span style="; color: black">4</span><span
        style=" color: black">、视频信访投诉。请在工作日上午9：00-11：00登录</span><span style="">淮安市阳光信访网，点击“视频信访”，选择进入相应县（区）视频室，通过视频方式</span><span
        style=" color: black">反映问题。</span></div>
<div style="text-indent: 32pt; line-height: 29pt" align="left"><span style="; color: black">市信访局还接受群众提出的人民建议，提出建议</span><span
        style=" color: black">途径请参照以上信访投诉方式。</span></div>
<div style="text-indent: 32pt; line-height: 29pt" align="left">&nbsp;</div>
<div style="text-indent: 32pt; line-height: 29pt" align="left"><span style="; color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span>
</div>
<div style="line-height: 29pt" align="left">&nbsp;</div>
</span></div>
            </div>
        </div>
    </div>
</div>