<form role="form" class="templateForm">
		  <!--  <span class="input-group-addon">@</span>-->
		  <div class="form-group">
             <input type="text"  id="TName" class="form-control" placeholder="模板名称"/>
          </div>
         <div class="form-group">
             <input type="text"  id="TType" class="form-control" placeholder="模板类型"/>
          </div>
          <div class="form-group">
             <input type="text"  id="TDes" class="form-control" placeholder="模板备注"/>
          </div>
          <div class="form-group">
               <button type="button" class="btn btn-default"  id="TNext">继续选择您的模板</button>
          </div>
</form>