               <div class="metro panorama">
                  <div class="panorama-sections">
                     <div class="panorama-section tile-span-4">
                        <h2>功能配置</h2>
                        <a class="tile app bg-color-orange" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-mail"></span>
                           </div>
                           <div class="app-label">模板属性</div>
                           <div class="app-count">12</div>
                        </a>
   
                        <a class="tile app bg-color-blue" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-bars"></span>
                           </div>
                           <div class="app-label">流量统计</div>
                        </a>
   
                        <a class="tile app bg-color-purple" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-weather"></span>
                           </div>
                           <div class="app-label">SEO</div>
                        </a>
                        
                        <a class="tile wide imagetext bg-color-greenDark" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-chat-2"></span>
                           </div>
                           <div class="column-text">
                              <div class="text4">与交付中心的开发人员交流</div>
                           </div>
                           <div class="app-label">145 个同事在线</div>
                        </a>
   
                        <a class="tile app bg-color-green" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-upload-2"></span>
                           </div>
                           <div class="app-label">组件云上传</div>
                        </a>
                        
                        <a class="tile app bg-color-purple" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-pencil"></span>
                           </div>
                           <div class="app-label">页面编辑</div>
                        </a>
                        
                        <a class="tile app bg-color-greenDark" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-search"></span>
                           </div>
                           <div class="app-label">SEO</div>
                        </a>
                        
                        <a class="tile app bg-color-red" href="#">
                           <div class="image-wrapper">
                              <span class="icon icon-qrcode"></span>
                           </div>
                           <div class="app-label">移动端平台</div>
                        </a>
                        
                     </div>
                  </div>
               </div>
               <!-- <a id="panorama-scroll-prev" href="#"></a> -->
<!--                <a id="panorama-scroll-next" href="#"></a> -->
<!--                <div id="panorama-scroll-prev-bkg"></div> -->
<!--                <div id="panorama-scroll-next-bkg"></div> -->
