
<div class="footer">
    <div class="firendLink clearfix">
        <ul>
        {{#friendLinks}}
            <li><a href="{{link}}">{{title}}</a></li>
            {{/friendLinks}}
        </ul>
    </div>

    <div class="copyRight clearfix">
        <div class="leftCopyRight">
            <img src="{{root}}/plugin/footer/imgs/leftCopy.jpg" class="clearfix">
        </div>
    <div class="rightCopyRight clearfix">
        <ul>
            <li>Copyright ©1996-2013 wenlian Corporation, All Rights Reserved</li>
            <li>中国文联文艺资源中心 版权所有 京ICP备14006586号 京公网安备11010502025169号</li>
            <li>Copyright © 2013 LITERARY AND ART RESOURCE CENTER.CFLAC 中国文联文艺资源中心</li>
        </ul>
    </div>
    </div>
</div>
