<div class="row">
    <div class="col-md-12" style="min-height:540px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">网上信访查询</h3>
            </div>
            <div class="panel-body">
                <form style="padding-left: 5px">
                    <div class="row">

                        <div class="col-md-9 form-horizontal">
                            <div class="row">
                                <div class="col-md-12 form-horizontal">
                                    <div class="form-group">
                                        <label for="theme" class="col-sm-2 control-label"><span style="color:red">*</span>信访号:</label>
                                        <div class="col-sm-10">
                                            <input id="theme" name="resourcesType" type="text" class="form-control" style="width:50%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-horizontal">
                                    <div class="form-group">
                                        <label for="cxyanzm" class="col-sm-2 control-label"><span style="color:red">*</span>验证码:</label>
                                        <div class="col-sm-10">
                                            <input id="cxyanzm" type="text" class="form-control" style="width:25%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 form-horizontal" style="padding-top: 18px;">
                            <button class="btn btn-primary">查询</button>
                        </div>

                    </div>

                    <hr>

                    <div>
                        已处理完毕
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>